/* .section-about start*/
.section-about {
	background: linear-gradient(to top, #2b2b2b 0%, #1f1f1f 100%);
	color: #fff;
	position: relative;
	@media (max-width:1200px){
		padding-top: 80px;
		padding-bottom: 80px;
	}
	// .section-about__img

	&__img {
		position: absolute;
		top: 0;
		left: 0;
		width: 50%;
		height: 100%;
		object-fit: cover;
		@media (max-width:$md3+px){
			width: 100%;
		}
	}

	// .section-about__container

	&__container {
		position: relative;
		display: flex;
		justify-content: flex-end;
		width: 1400px;
		@media (max-width:$md3+px){
			justify-content: center;
		}
	}

	// .section-about__content

	&__content {
		width: 50%;
		padding-left: 80px;
		@media (max-width:1200px){
			padding-left: 50px;
		}
		@media (max-width:$md3+px){
			padding-left: 0;
			width: 500px;
			max-width: 100%;
		}
	}

	// .section-about__title

	&__title {
		font-family: $ff1;
		font-size: 48px;
		margin: 0;
		margin-bottom: 20px;
		text-align: left;
	}

	// .section-about__text

	&__text {
		line-height: 1.67;
		font-size: 18px;
		margin: 0;
		@media (max-width:$minwidth){
			font-size: 16px;
		}
	}
}
/* /.section-about end*/